/* CSS Reset */
@import url('https://fonts.googleapis.com/css?family=Noto Serif');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
a {
    text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Noto Serif', serif;
    background-color: #F6FDFE;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header */

header{
    height: 65px;
}

nav{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0 10%;
}

nav h2{
    font-weight: bold;
}

.nav-link{
    display: flex;
    gap: 10%;
    justify-content: flex-end;
}

.nav-link a{
    color: #000;
    /* text-decoration: none; */
    font-weight: bold;
    cursor: pointer;
}

/* Main 1 */

.hero{
    background-color: #d4e7e8;
    padding: 50px 5% 0 10%;
    display: flex;
    gap: 1%;
}

.hero img{
    width: 50%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    width: 50%;
    gap: 10px;
}

.hero-deskrip{
    max-width: 400px;
}

.hero-deskrip h2{
    font-size: 24px;
    margin-bottom: 3px;
    font-family: 'Poppins';
}

.hero-deskrip h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-deskrip p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 25px;
}

.hero-deskrip a{
    padding: 30px;
    display: inline-block;
    margin: 15px;
    width: 50%;
    background-color: #285151;
    color: white;
    border-radius: 40px;
    text-align: center;
    /* text-decoration: none; */
    font-size: 20px;
    cursor:pointer;
}

.hero-img{
    display: flex;
    justify-content: flex-end;
}
.hero-right{
    display: flex;
    width: 60%;
    gap: 2%;
    align-items: flex-end;
}

.hero-right img{
    height: 70%;
}

.bagfit{
    margin-bottom: 30%;
}

/* Main 2 */
.main2 {
    margin-top: 100px;
    background-color: #D4E7E8;
    background-size: cover;
    color: #1F3031;
}

.main2_container {
    display: flex;
    position:relative;
    top: 50%;
    left: 20%;
    padding: 5% 0 5% 0;
    
}
.main2_info {
    display: flex;
}

.main2_info p {
    margin-bottom: 1rem;
}

.main2_title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.main2_list {
    display: grid;
    margin-left: 3.5rem;
}

.btn {
    padding: 12px 24px;
    color: #D4E7E8;
    display: inline-block;
    opacity: 0.8;
    border-radius: 100px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.contact {
    padding: 15px 40px;
    /* opacity: 1; */
    background-color: #285151;
    box-shadow: 0 7px #122424;
}

.contact:active {
    position: relative;
    top: 7px;
    box-shadow: none;
    opacity: 1;
}

.main2_box {
    display: flex;
    margin-bottom: 1rem;
}

.main2_icon {
    font-size: 1.5rem;
    color: #285151;
    padding: 0.3rem 0.3rem;
}


/* Main 3 */

.main3 {
    margin-top: 100px;
    color: #1F3031;
}

.main3_title {
    text-align: center;
}

.main3_title h2 {
    font-size: 2.2rem;
}

.main3_title p {
    font-size: 1.1rem;
}

.main3_content {
    display:flex;
    flex-direction: row;
    padding: 2rem 3rem;
}

.main3_content > .main3_data {
    width: 50%;
}

.main3_data {
    position: relative;
    padding: 1.5rem 3rem;
}

.main3_data p {
    margin: 1rem 0.5rem 0 0.5rem;
    text-align: justify;
}

/* .main3_img {
    
} */

.image {
    width:100%;
    border-radius: 15%;
}
/* Form */
.formulir-wrapper {
    width: 100%;
    height: 1000px;
}
.formulir {
    width: 70%;
    height: 90%;
    background-color: #D4E7E8;
    float: left;   
}
.formulir h3 {
    margin: 10% 10% 5% 10%;
}
.formulir p {
    margin: 1% 10%;
}
 .formulir input {
    padding: 2% 25%;
    margin: 2% 1% 2% 10%;
    border: 0;
 }
 .formulir textarea {
    margin: 1% 10%;
    padding: 2% 20.5%;
    resize: none;
    border: 0;
 }
img {
    float: right;
    width: 30%;
    height: 67%;
    position: relative;
    right: 10%;
    margin-top: 7.5%;
}
.formulir .btn {
    border-radius: 50px;
    background-color: #285151;
    margin-top: 2%;
    padding: 2% 10%;
}

/* Footer */
footer {
    list-style: none;
    width: 100%;
    height: 100px;
    display: flex;
}
footer .copyright {
    width: 60%;
    margin-top: 2.5%;
    text-align: right;
    margin-right: 10%;
}
footer .kosong {
    width: 40%;
    background-color: #D4E7E8;
}